/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    font-family: 'Muli', sans-serif;
    font-weight:300;
    color:#555;
    font-size:16px;
    background:#eee;
}

#main {
    width:990px;
    margin:0 auto;
}

header {
    margin:50px 0;
}

h1 {
    text-align:center;
    font-size:3em;
    font-weight:400;
    margin-bottom:0;
}

.meta {
    font-size:0.8em;
    text-align:center;
}

h2 {
    font-weight:300;
    text-align:center;
    margin:0 0 15px;
}

.tile {
    box-sizing:border-box;
    float:left;
    overflow:hidden;
    margin-bottom:40px;
    background:#fff;
    border-radius:5px;
    border:1px solid #ccc;
    padding:15px;
}

.tile-1 {
    width:310px;
    margin-left:15px;
}

.tile-2 {
    width:655px;
    margin-left:15px;
}

.no-margin {
    margin-left:0;
    clear:left;
}

table {
    line-height:35px;
    width:100%;
    border-collapse:separate;
}
th {
    font-weight:400;
    text-decoration:underline;
}
th:first-child {
    text-align:left;
}
td.number, td.sparkline {
    text-align:center;
}
div.sparkline {
    height:15px;
    display:inline-block;
    vertical-align: middle;
    margin-right:10px;
}

div.pie {
    display:inline-block;
    vertical-align: middle;
    height:25px;
}

dl {
    overflow:hidden;
    margin:0;
}
dl:first-child {
    border-bottom:1px solid #eee;
    padding-bottom:10px;
    margin-bottom:10px;
}

dt, dd {
    display:block;
    float:left;
    margin:0;
    line-height:35px;
}
dt {
    width:140px;
}

dd {
    font-weight:400;
    width:118px;
    text-align:right;
}

footer {
    clear:both;
    margin-top:120px;
    text-align:center;
    font-size:0.7em;
    padding-bottom:40px;
}
footer a, footer a:visited {
    color:#82C7BC;
    font-weight:400;
}

.bar-chart-tile {
    padding-left:25px;
    padding-right:25px;
}

.bar-chart {
    position:relative;
    height:35px;
    overflow:hidden;
    background:#eee;
    font-weight:400;
    margin:10px 0;
    border-radius:10px;
}
.bar-chart .bar {
    position:absolute;
    top:0;
    left:0;
    background:#82C7BC;
    height:100%;
}
.bar-chart .label {
    position:absolute;
    top:0;
    left:10px;
    white-space:nowrap;
    line-height:35px;
}

.trip-summary .route {
    font-size:32px;
    line-height:40px;
    font-weight:400;
    text-align:center;
}

.trip-summary .date,
.trip-summary .duration {
    font-size:0.7em;
    color:#999;
}
.trip-summary .duration {
    text-align:right;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
